.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card .chip {
  position: absolute;
  top: 16px;
  left: 16px;
}
.card .cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
